<section class="sidebar">
  <ul class="sidebar-menu">

    <li class="header"><span>MAIN NAVIGATION</span></li>

    <li>
      <a ui-sref="dashboard">
        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
      </a>
    </li>

    <li>
      <a href>
        <i class="fa fa-edit"></i> <span>Cadastros</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li>
          <a ui-sref="billingCycle"><i class="fa fa-usd"></i> Ciclo de Pagamento</a>
        </li>
      </ul>
    </li>

    <li class="header"><span>OTHERS</span></li>

    <li>
      <a href="#">
        <i class="fa fa-circle-o text-red"></i>
        <span>Important</span>
      </a>
    </li>

    <li>
      <a href="#">
        <i class="fa fa-circle-o text-orange"></i>
        <span>Warning</span>
      </a>
    </li>

    <li>
      <a href="#">
        <i class="fa fa-circle-o text-blue"></i>
        <span>Information</span>
      </a>
    </li>

    <li class="bg-green">
      <a href="https://themequarry.com" style="background-color: rgb(0, 166, 90);">
        <i class="fa fa-star-o" style="color: rgb(255, 255, 255);"></i>
        <span style="color: rgb(255, 255, 255);">Premium Templates</span>
      </a>
    </li>

  </ul>
</section>
